/*
  Major Second Modular Scale:
  https://www.modularscale.com/?26&px&1.125
*/
		html {
			font-size: 1.25em; /*20px*/
			line-height: 1.125em; /* 18px*/
			font-family:"Courier New",monospace;
		}
		
		body {
			background-color: #feb236;
			font-family:Merriweather, Arial  ,serif;
			text-align:center;
			font-size: 1.46em;
			margin: 0 auto;
		}
		
		h1 {
			padding:2.8%;
			background-color:#DCDCDC;
			font-weight:bold;
			font-size: 1.4em;	
		}
		
		h3 {
			padding-top:1%;
		}
		
		p {
			padding-top:1.5%;
			font-size:20px;
			line-height:2em;
		}
		
		#name {
			margin: 2%;
		}
		
		#fn {
			height:20px;
			width:280px;
		}
		
		#ln {
			height:20px;
			width:280px;
			margin-top:2%;
		}
		
		#te {
			margin-top: 2%;
			padding-right:2%;
		}
			
		#em {
			height:20px;
			width:280px;
		}
			
		#phone {
				height:20px;
				width:280px;
		}
			
		#age-verification {
						 margin: 2%;
						 width:30px;
						 height:30px;
		}
		
		footer {
				margin:2%;
		}
		
	/* Tablet size */		
		@media screen and (min-width: 640px) {	
			
		body {
			 background-color:#FDCE2A;
			 font-size:1.05em;
		}
		
		h1 {
			background-color:#B9BBB6;
		}
		
		#fn {
			height:30px;
			width:240px;
		}
		
		#ln {
			height:30px;
			width:240px;
		}
		#em {
			height:30px;
			width:240px;
		}
			
		#phone {
				height:30px;
				width:240px;
		}
		#age-verification {
						 margin: 2%;
						 width:27px;
						 height:27px;
		}
		
		}
		
	/* Desktop size */
		@media screen and (min-width: 996px) {
		
		body {
			background-color:#FCE205;
		}
		
		h1{
			background-color:#999DA0;
		}
		
		
		}	
			
			