/*
  Major Second Modular Scale:
  https://www.modularscale.com/?26&px&1.125
*/
		html {
			font-size: 1.25em; /*20px*/
			line-height: 1.125em; /* 18px*/
			font-family:"Courier New",monospace;
		}
		
		body {
			background-color: #feb236;
			font-family:Merriweather, Arial  ,serif;
			text-align:center;
			font-size: 1.26em
		}
		
		h1 {
			padding:2.8%;
			background-color:#DCDCDC;
			font-weight:bold;
			font-size: 1.4em;	
		}
		
		h3 {
			padding-top:1%;
		}
		
		p {
			padding-top:1.5%;
			font-size:20px;
			line-height:2em;
		}
		
		#name {
			margin: 2%;
		}
		
		#fn {
			height:20px;
			width:280px;
		}
		
		#ln {
			height:20px;
			width:280px;
			margin-top:2%;
		}
		
		#te {
			margin-top: 2%;
			padding-right:2%;
		}
			
		#em {
			height:20px;
			width:280px;
		}
			
		#phone {
				height:20px;
				width:280px;
		}
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			